.col-cards {
  margin-bottom: 2rem;
}

#div-map {
  position: relative;
}

.show-map {
  height: 40vh;
  margin-bottom: 2rem;
}

#map {
  height: 100%;
  position: absolute;
  width: 100%;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#div-card-group .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
  /* height: 8rem; */
}

.card-img-top {
  height: 13rem;
}

.text-value-day {
  margin-bottom: auto;
  font-weight: bold;
}

#div-row-search {
  margin: 2rem 1rem;
  justify-content: center;
}

#div-row-search .card {
  width: 100%;
}

.div-btn-search {
  height: 2.5rem;
  place-self: center;
}

.div-btn-search button {
  float: right;
}

.social-networks {
  display: flex;
}

.social-networks li a {
  width: 10rem;
  color: black;
}

.social-networks li:not(:first-child) {
  margin-left: 0.7rem;
}
